.container, .header, .linksContainer, .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url('../../../public/images/background1.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.gabiIg {
  background: linear-gradient(180deg, var(--orange), var(--yellow));
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(1.2);

  transition: all .3s ease;
}

.gabiIg:hover {
  transform: scale(1.4);
}


.linkGroup1, .linkGroup2 {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 300px;
  height: 60px;
  
  color: var(--white);
  
  border-radius: 7px;

  transition: all ease 0.4s;
  box-shadow: 5px 5px 15px var(--shadow);

}
.linkGroup1 {
  background: var(--purple);
}
.linkGroup2 {
  background: var(--orange);
}

.linkGroup1:hover, .linkGroup2:hover {
  transform: scale(1.05);
}

.linkGroup1:hover {
  background: var(--pink);

}

.linkGroup2:hover {
  background: var(--yellow);
}

.link{
  margin:0.7rem 0;
}

.footer, .linksContainer, .span {
  color: var(--text);
  margin: 0 1rem;
}

.footer {
  margin: 1rem;
}

.questMasterFoo {
  display: flex;
  flex-direction: column;
  text-align: left;

  width: 100%;
}


@media (min-width: 1921px) {
  .container {
    background-image: url('../../../public/images/background4.svg');
    background-size: cover;
  }
  }


@media (max-width: 1024px) {
  .container {
    background-image: url('../../../public/images/background2.svg');
    background-size: cover;
  }
  }

@media (max-width: 460px) {
  .linkGroup1, .linkGroup2  {
    width: 230px;
}

.container {
  background-image: none;
}

.footer {
  margin-top: 0.5rem;
}
}